nav {
    background-color: rgba(0, 0, 0, 0.3);
    width: max-content;
    padding: .7rem 1.7rem;
    z-index: 4;
    position:  fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: .8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    
    padding: 1.3rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.4rem;
}


nav a:hover{
    background: rgba(255, 255, 255, .93);
    color:var(--color-bg-variant);
    transform: translateY(-7px);
    
}

.active {
    background: rgba(255, 255, 255, .93);
    color:var(--color-bg-variant);
    transform: translateY(-7px);
}